body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: white;
    padding: 40px;
    border-radius: 16px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    text-align: center;
}


#head {
    color: #333;
    text-align: center;
}


p {
    color: blue;
    text-align: center;
}

@media (max-width:480px){
    .container{
        padding: 15px;
    }

    #head{
        font-size: 20px;
        color:red;
    }
    p {
        font-size: 14px;
    }
}

